Code/ADF/pipeline/SP_Test.json
{
	"name": "SP_Test",
	"properties": {
		"activities": [
			{
				"name": "Get Required objects from Configuration",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[ADF_SourceQuery]",
						"storedProcedureParameters": {
							"ActionName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ActionName",
									"type": "Expression"
								}
							},
							"DeltaLoad": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.NoDeltaLoad",
									"type": "Expression"
								}
							},
							"SourceType": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceType",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.TriggerName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_aedevdapsqldb01_etl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate tables to ingest into Azure from 09Server",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Required objects from Configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Required objects from Configuration').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "IsDataLoadType_Delta",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().DataLoadType,'DELTA')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Full Data copy",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "EXEC ('@{item().executeSQlQuery}')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "@{item().executePreSQL}",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "aedevsynapse01-ws-WorkspaceDefaultStorage",
													"type": "LinkedServiceReference"
												},
												"path": "clarestaging"
											},
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_FMA_MSCRM",
												"type": "DatasetReference",
												"parameters": {
													"sr_dbserver": {
														"value": "@item().SourceServerName",
														"type": "Expression"
													},
													"sr_dbname": {
														"value": "@item().SourceDatabaseName",
														"type": "Expression"
													},
													"sr_schema": {
														"value": "@item().SourceSchemaName",
														"type": "Expression"
													},
													"sr_table": {
														"value": "@item().SourceTableName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ASQL_aedevdapsqldb01",
												"type": "DatasetReference",
												"parameters": {
													"tg_ServerName": {
														"value": "@item().TargetServername",
														"type": "Expression"
													},
													"tg_Database": {
														"value": "@item().TargetDatabaseName",
														"type": "Expression"
													},
													"tg_Schema": {
														"value": "@item().TargetSchemaName",
														"type": "Expression"
													},
													"tg_Table": {
														"value": "@item().TargetTableName",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Delta Copy",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "EXEC ('@{item().executeSQlQuery}')\n ",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "@{item().executePreSQL}",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "aedevsynapse01-ws-WorkspaceDefaultStorage",
													"type": "LinkedServiceReference"
												},
												"path": "clarestaging"
											},
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_FMA_MSCRM",
												"type": "DatasetReference",
												"parameters": {
													"sr_dbserver": {
														"value": "@item().SourceServerName",
														"type": "Expression"
													},
													"sr_dbname": {
														"value": "@item().SourceDatabaseName",
														"type": "Expression"
													},
													"sr_schema": {
														"value": "@item().SourceSchemaName",
														"type": "Expression"
													},
													"sr_table": {
														"value": "@item().SourceTableName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ASQL_aedevdapsqldb01",
												"type": "DatasetReference",
												"parameters": {
													"tg_ServerName": {
														"value": "@item().TargetServername",
														"type": "Expression"
													},
													"tg_Database": {
														"value": "@item().TargetDatabaseName",
														"type": "Expression"
													},
													"tg_Schema": {
														"value": "@item().TargetSchemaName",
														"type": "Expression"
													},
													"tg_Table": {
														"value": "@item().TargetTableName",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get Watermark value from Delta tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Iterate tables to ingest into Azure from 09Server",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[ADF_SourceQuery]",
						"storedProcedureParameters": {
							"ActionName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ActionName",
									"type": "Expression"
								}
							},
							"DeltaLoad": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DeltaLoad",
									"type": "Expression"
								}
							},
							"SourceType": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceType",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.TriggerName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_aedevdapsqldb01_etl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate Delta tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Watermark value from Delta tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Watermark value from Delta tables').output.value\n",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Update Value",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delta_WatermarkValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[sp_UpdateConfiguration]",
								"storedProcedureParameters": {
									"processID": {
										"value": {
											"value": "@item().ProcessID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"watermarkvalue": {
										"value": {
											"value": "@activity('Delta_WatermarkValue').output.value[0].watermarkValue",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azuresql_ETLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delta_WatermarkValue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "exec ('@{item().ExecuteWaterMarkQuery}')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_ASQL_aedevdapsqldb01",
									"type": "DatasetReference",
									"parameters": {
										"tg_ServerName": {
											"value": "@item().TargetServername",
											"type": "Expression"
										},
										"tg_Database": {
											"value": "@item().TargetDatabaseName",
											"type": "Expression"
										},
										"tg_Schema": {
											"value": "@item().TargetSchemaName",
											"type": "Expression"
										},
										"tg_Table": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TriggerName": {
				"type": "string",
				"defaultValue": "DataTrigger"
			},
			"ActionName": {
				"type": "string",
				"defaultValue": "Stage"
			},
			"SourceType": {
				"type": "string",
				"defaultValue": "SQL"
			},
			"NoDeltaLoad": {
				"type": "string",
				"defaultValue": "Full"
			},
			"DeltaLoad": {
				"type": "string",
				"defaultValue": "DELTA"
			}
		},
		"variables": {
			"TriggerName": {
				"type": "String"
			},
			"ActionName": {
				"type": "String"
			},
			"SourceType": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IngestStage"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-14T03:34:33Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}